@font-face {
  font-family: 'SCDream';
  font-weight: 400;
  src: url('../fonts/SCDream-400.otf');
}

// @font-face {
//   font-family: 'SCDream';
//   font-weight: 700;
//   src: url('../fonts/SCDream-500.otf');
// }

@font-face {
  font-family: 'SCDream';
  font-weight: 800;
  src: url('../fonts/SCDream-600.otf');
}
